<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" href="./table.css" />
<title>ENCORE HRM</title>
<script src="https://unpkg.com/vue"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id='app'>
		<div class='headtitle'>
			<h2>ENCORE HRM LIST</h2>
		</div>
		<div class='search_box'>
			<a href='./index04.html'>사원추가</a> | <a href='./index03.html'>이름으로
				찾기</a> | <a href='./index02.html'>아이디로 찾기</a> | <a href='./index01.html'>모든사원
				보기</a>
		</div>
		<p align="center">
			이름으로 사원 찾기 : <input type="text" v-model="person" placeholder="사원명을 입력해 주세요.">
		</p>
		<table class='list_table'>
			<col width="10%">
			<col width="20%">
			<col width="20%">
			<col width="20%">
			<col width="10%">
			<thead>
				<th>사원 아이디</th>
				<th>사원명</th>
				<th>부서</th>
				<th>직책</th>
				<th>연봉</th>
			</thead>
			<tbody>
				<tr v-for="p in filtering">
					<td>{{p.id}}</td>
					<td>{{p.name}}</td>
					<td>{{p.dept_id}}</td>
					<td>{{p.title}}</td>
					<td>{{p.salary | salarydecimal}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	var model ={
			person:'',
			
			people:[
				{"id":1,"name":"박구곤","mailid":"sky98","start_date":"1990-03-03","manager_id":0,"title":"사장","dept_id":118,"salary":5000.0,"commission_pct":0.0},
		         {"id":2,"name":"손명성","mailid":"2xxsig","start_date":"1990-03-08","manager_id":1,"title":"기획부장","dept_id":110,"salary":3000.0,"commission_pct":0.0},
		         {"id":3,"name":"이은선","mailid":"ch21175","start_date":"1991-06-17","manager_id":1,"title":"영업부장","dept_id":102,"salary":3500.0,"commission_pct":0.0},
		         {"id":4,"name":"서의홍","mailid":"mquickto","start_date":"1990-04-07","manager_id":1,"title":"총무부장","dept_id":101,"salary":3000.0,"commission_pct":0.0},
		         {"id":5,"name":"김심선","mailid":"aropebur","start_date":"1990-03-04","manager_id":1,"title":"인사부장","dept_id":118,"salary":3200.0,"commission_pct":0.0},
		         {"id":6,"name":"전지영","mailid":"murguhar","start_date":"1991-01-18","manager_id":2,"title":"과장","dept_id":110,"salary":2400.0,"commission_pct":0.0},
		         {"id":7,"name":"김정미","mailid":"enchu","start_date":"1990-05-14","manager_id":2,"title":"과장","dept_id":111,"salary":2400.0,"commission_pct":0.0},
		         {"id":8,"name":"신기웅","mailid":"bbiri","start_date":"1990-04-07","manager_id":2,"title":"과장","dept_id":112,"salary":2100.0,"commission_pct":0.0},
		         {"id":9,"name":"이상헌","mailid":"acatchpo","start_date":"1992-02-09","manager_id":2,"title":"과장","dept_id":113,"salary":2300.0,"commission_pct":0.0},
		         {"id":10,"name":"최순철","mailid":"mhavel","start_date":"1991-02-27","manager_id":2,"title":"과장","dept_id":113,"salary":2300.0,"commission_pct":0.0},
		         {"id":11,"name":"최정선","mailid":"cmagee","start_date":"1990-05-14","manager_id":3,"title":"영업대표이사","dept_id":102,"salary":2450.0,"commission_pct":10.0},
		         {"id":12,"name":"안은경","mailid":"hgiljum","start_date":"1992-01-18","manager_id":3,"title":"영업대표이사","dept_id":103,"salary":2500.0,"commission_pct":12.5},
		         {"id":13,"name":"김석우","mailid":"ysedeghi","start_date":"1991-02-18","manager_id":3,"title":"영업대표이사","dept_id":104,"salary":2650.0,"commission_pct":10.0},
		         {"id":14,"name":"박성규","mailid":"mnguyen","start_date":"1992-01-22","manager_id":3,"title":"영업대표이사","dept_id":105,"salary":2650.0,"commission_pct":15.0},
		         {"id":15,"name":"신종필","mailid":"adumas","start_date":"1991-10-09","manager_id":3,"title":"영업대표이사","dept_id":106,"salary":2400.0,"commission_pct":17.5},
		         {"id":16,"name":"이기철","mailid":"emaduro","start_date":"1992-02-07","manager_id":6,"title":"사원","dept_id":110,"salary":2400.0,"commission_pct":0.0},
		         {"id":17,"name":"구원상","mailid":"gsmith","start_date":"1990-03-08","manager_id":6,"title":"사원","dept_id":110,"salary":940.0,"commission_pct":0.0},
		         {"id":18,"name":"서정주","mailid":"anozaki","start_date":"1991-02-09","manager_id":7,"title":"사원","dept_id":111,"salary":1200.0,"commission_pct":0.0},
		         {"id":19,"name":"안창환","mailid":"vpatel","start_date":"1991-08-06","manager_id":7,"title":"사원","dept_id":111,"salary":795.0,"commission_pct":0.0},
		         {"id":20,"name":"윤정숙","mailid":"cnewman","start_date":"1991-07-21","manager_id":8,"title":"사원","dept_id":112,"salary":750.0,"commission_pct":0.0},
		         {"id":21,"name":"장현철","mailid":"amarkari","start_date":"1991-05-26","manager_id":8,"title":"사원","dept_id":112,"salary":850.0,"commission_pct":0.0},
		         {"id":22,"name":"장혜숙","mailid":"echang","start_date":"1990-11-30","manager_id":9,"title":"사원","dept_id":113,"salary":800.0,"commission_pct":0.0},
		         {"id":23,"name":"강연범","mailid":"rpatel","start_date":"1990-10-17","manager_id":9,"title":"사원","dept_id":106,"salary":795.0,"commission_pct":0.0},
		         {"id":24,"name":"오은경","mailid":"bdancs","start_date":"1991-03-17","manager_id":10,"title":"사원","dept_id":113,"salary":860.0,"commission_pct":0.0},
		         {"id":25,"name":"이용호","mailid":"sschwart","start_date":"1991-05-09","manager_id":10,"title":"사원","dept_id":113,"salary":1100.0,"commission_pct":0.0},
		         {"id":26,"name":"조용필","mailid":"czccc","start_date":"2019-04-08","manager_id":1,"title":"영업부장","dept_id":102,"salary":242323.0,"commission_pct":0.0},
		         {"id":27,"name":"장길산","mailid":"jang","start_date":"2019-04-08","manager_id":5,"title":"과장","dept_id":104,"salary":12345.0,"commission_pct":0.0},
		         {"id":28,"name":"조용필3","mailid":"cjo","start_date":"2019-04-07","manager_id":3,"title":"인사부장","dept_id":104,"salary":43423.0,"commission_pct":0.0},
		         {"id":29,"name":"조용필4","mailid":"joj","start_date":"2019-04-02","manager_id":3,"title":"과장","dept_id":102,"salary":232324.0,"commission_pct":0.0},
		         {"id":30,"name":"장만용","mailid":"ja","start_date":"2019-04-08","manager_id":3,"title":"과장","dept_id":104,"salary":2323423.0,"commission_pct":0.0},
		         {"id":31,"name":"장국","mailid":"janguk","start_date":"2019-04-08","manager_id":1,"title":"과장","dept_id":112,"salary":132312.0,"commission_pct":0.0},
		         {"id":32,"name":"잘미잘","mailid":"dfsdfd","start_date":"2019-03-11","manager_id":1,"title":"과장","dept_id":110,"salary":234230.0,"commission_pct":0.0},
		         {"id":33,"name":"고국","mailid":"gogul","start_date":"2019-04-01","manager_id":1,"title":"과장","dept_id":103,"salary":11111.0,"commission_pct":0.0}
				]
	}
	
	var app = new Vue({
		el :'#app',
		data : model,
		
		computed:{
        	// 배열 나라들 중에서 조건을 만족하는 글자가 들어있는 나라들을 리턴하는 기능
			filtering(){
				var pname = this.person.trim();
				return this.people.filter(function(item, index) {
					if(item.name.indexOf(pname) > -1)
						return true;
				})
			}
        }
	})
</script>
</body>
</html>
